#login-card{
    margin: 10% auto;
    border-color: rgb(3, 46, 71);

    background-color: rgba(247, 231, 188, 0.699);
}

#button1{
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
}

body {
    background-image: url("https://ichef.bbci.co.uk/images/ic/1200x675/p08j8hmv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}